.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 50px;
}

.elements__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 281px);
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .elements__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 281px);
    gap: 20px;
    justify-content: center;
  }
}
@media screen and (max-width: 690px) {
  .elements__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 281px);
    gap: 20px;
    justify-content: center;
  }
}
