.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 50px;
}

.elements__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 281px);
  gap: 20px;
  justify-content: center;
}

.card {
  width: 100%;
  width: 281px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 281px;
  object-fit: cover;
}

.card__info {
  max-width: 246px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px;
  background: #ffffff;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-family: "Inter";
  font-size: 24px;
  color: #000000;
  font-weight: 900;
}

.card__like {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card__like:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .elements__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 281px);
    gap: 20px;
    justify-content: center;
  }
}
@media screen and (max-width: 690px) {
  .elements__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 281px);
    gap: 20px;
    justify-content: center;
  }
}
