.footer {
  max-width: 880px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
}
.footer__copyright {
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
  font-size: 18px;
}
