.page {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  min-height: 100vh;
  background: #000000;
  box-sizing: border-box;
}
@media screen and(max-width:880px) {
  .page {
    max-width: 880px;
  }
}
