.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
}

.profile__logo {
  max-width: 120px;
  padding-right: 30px;
}
.profile__info {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 415px;

  font-family: "Inter";

  color: #ffffff;
}
.profile__info-paragraph {
}
.profile__info_name {
  max-width: 373;
  font-size: 42px;
  margin: 0;
}
.profile__info_text {
  max-width: 415px;
  margin: 0;
  font-size: 18px;
}
.profile__button {
  max-width: 24px;
  max-height: 24px;
  margin-left: 18px;
}
.profile__button-info {
  border: none;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.profile__button-add {
  max-width: 150px;
  padding-left: 150px;
}
.profile__button-add-icon {
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
